
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-1-CEt {
  background: linear-gradient(-169.13deg, #8e4040 -21.61%, rgba(158, 98, 98, 0.5439286232) 6.6%, rgba(150, 80, 80, 0.7862011194) 20.23%, rgba(167, 118, 118, 0.2785196602) 40.7%, rgba(172, 127, 127, 0.1623155475) 49.85%, rgba(176, 136, 136, 0.0446210206) 78.9%, rgba(177, 140, 140, 0) 103.92%);
  padding: 7.1rem 0rem 161.2rem 0rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .auto-group-mfiq-xmn {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 1.7rem 7rem 0rem;
    width: calc(100% - 1.7rem);
    display: flex;

    .auto-group-knsi-Kng {
      margin: 1.6rem 19.5rem 0rem 0rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-1-oC4 {
        margin-bottom: 6rem;
        width: 72.3rem;
        height: 11.3rem;
        position: relative;
        flex-shrink: 0;

        .home-GbS {
          width: 72.3rem;
          height: 11.1rem;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
        }
        .home-3kc {
          width: 13.4rem;
          position: absolute;
          left: 49.5rem;
          font-size: 4.8rem;
          color: #000000;
          height: 5.9rem;
          top: 0.2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-1L4 {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
          width: 72.3rem;
          left: 0;
          top: 0;
          height: 11.1rem;
          position: absolute;
        }
      }
      .group-3-o12 {
        height: 11.3rem;
        position: relative;
        flex-shrink: 0;
        margin-right: 13.1rem;
        width: 72.5rem;

        .about-eGY {
          left: 0;
          top: 0;
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
          width: 72.3rem;
          height: 11.1rem;
          position: absolute;
        }
        .about-uCU {
          width: 13.7rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          top: 0.9rem;
          font-size: 4.8rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          height: 5.9rem;
          position: absolute;
          left: 36.2rem;
        }
        .about-mVa {
          left: 0;
          top: 0.2rem;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
          width: 59.2rem;
          position: absolute;
          height: 11.1rem;
          border: solid 0.1rem #000000;
        }
      }
    }
    .group-6-ybe {
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.8rem 17.6rem 0rem 23.2rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:21ba3da91d65b65636023d2f12c3f4b29c310cf6');

      .image-1-V4C {
        width: 16.9rem;
        height: 20rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-unwl-5o6 {
    width: calc(100% - 1.8rem);
    height: 29.7rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 1.8rem 22.9rem 0rem;

    .auto-group-4vxr-XQC {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 26.7rem;
      height: 100%;

      .group-8-qfn {
        margin: 0rem 0rem 6.4rem 9.4rem;
        width: 72.4rem;
        height: 11.7rem;
        position: relative;
        flex-shrink: 0;

        .skillset-8un {
          width: 72.3rem;
          height: 11.1rem;
          position: absolute;
          left: 0;
          top: 0.6rem;
          background: linear-gradient(180deg, #cb9999 0%, rgba(192, 148, 148, 0) 100%);
        }
        .skillset-Cue {
          height: 5.9rem;
          position: absolute;
          left: 20rem;
          top: 0.2rem;
          line-height: 1.2125;
          white-space: nowrap;
          width: 16.2rem;
          font-size: 4.8rem;
          font-weight: 400;
          color: #161414;
          font-family: Inter, 'Source Sans Pro';
        }
        .skillset-rzC {
          width: 45.6rem;
          left: 0;
          top: 0;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          height: 11.1rem;
          position: absolute;
          border: solid 0.1rem #000000;
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
        }
      }
      .group-2-hzp {
        flex-shrink: 0;
        margin-right: 9.4rem;
        width: 72.4rem;
        height: 11.6rem;
        position: relative;

        .contact-c6C {
          height: 11.1rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          background: linear-gradient(180deg, #cb9999 0%, rgba(192, 148, 148, 0) 100%);
          width: 72.3rem;
        }
        .contact-WxG {
          height: 5.9rem;
          left: 9.3rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.1rem;
          position: absolute;
          top: 0.5rem;
          font-size: 4.8rem;
          line-height: 1.2125;
          color: #000000;
        }
        .contact-dmz {
          width: 36.2rem;
          height: 11.1rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #daa4a4 0%, rgba(218, 164, 164, 0) 100%);
        }
      }
    }
    .group-7-uzQ {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 77.1rem;

      .auto-group-999i-qt4 {
        width: calc(100% - 36.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 25.9rem 1rem 10.9rem;

        .item--wRJ {
          margin-right: 3.3rem;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #090000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--eKi {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.2rem;
        }
        .welcome-xrC {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #0f0606;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .myself-mohamad-iliyas-studentcyber-security-owasp-bsacist-chapter-leader-tUx {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0606;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 77.1rem;
      }
    }
  }
  .group-5-z2C {
    margin: 0rem 2.8rem 0rem 4rem;
    width: calc(100% - 6.8rem);
    display: flex;
    flex-direction: column;
    border-radius: 10rem;
    flex-shrink: 0;

    .item-1707901-1-88Q {
      border-radius: 10rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5.6rem 7rem;
      width: 38.9rem;
      height: 49.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .a-gist-about-me-im-a-bachelor-of-technonologycsecyber-security-pursuing-at-bsacrescent-institute-of-science-and-technology-and-a-cyber-security-zealotctf-playertry-hack-me-penetration-testerbug-hunteraiu-sports-person-qYc {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 144.4rem;
      font-size: 4.8rem;
    }
  }
}
